.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}
:root {
    --my-color: #fff;
    /* or any other variables/style */
  }
  [data-theme='dark'] {
    --my-color: #000;
  }
  [data-theme='pink'] {
    --my-color: #7b0149;
  }