---
import Layout from '../layouts/Layout.astro';
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<Layout>
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">HI!</div>
    <div class="text-5xl font-bold">I'm Shams</div>
    <div class="text-3xl py-3 font-bold">a Computer Science Graduate Passionate About Computer Networks & Security!</div>
    <div class="py-2">
      <text class="text-lg">
        This is <b>Shamshuddin</b> a recent graduate in Computer Science & Engineering. <br>
        
        <div style="text-align: left;">
            <p>
              <ul>
                <li>
                  >> I have developed a deep passion for the world of Computer Networks. With a strong foundation in software development and a focus on Networks & Security, I am eager to solve problems and innovate while remaining committed to designing efficient and secure solutions for today’s digital challenges.
                </li>
                <br>
                <li>
                  >> From the fundamentals of networking protocols to the latest advancements in network security, I am dedicated to understanding how data flows and how networks can be optimized, secured, and managed efficiently.
                </li>
                <br>
                <li>
                  >> Throughout my academic journey, I focused on exploring various network configurations, troubleshooting techniques, and security measures, which I believe are fundamental to building reliable and secure digital infrastructures. I am excited to contribute to this ever-evolving domain by implementing innovative solutions to solve complex networking challenges and continually expanding my knowledge.
                </li>
                <br>
                <li>
                  >> I have experience working with network protocols (e.g., TCP/IP, DNS, HTTP), network security tools (e.g., Wireshark, Nmap, Firewalls), and hands-on cloud networking (AWS/GCP). I’ve also participated in networking projects, where I designed, implemented, and optimized network infrastructures.
                </li>
                <br>
                <li>
                  >> When I’m not coding or delving into security protocols, I love [your hobbies or interests, e.g., exploring tech blogs, gaming, or mentoring peers].
                </li>
                <br>
                 >> Feel free to browse my portfolio to explore my projects and technical skills!!
              </ul>
            </p>
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/" target="_blank"> Let's connect!</a>
      <!--<a href="https://github.com/" target="_blank" class="btn btn-outline ml-5">
        Get This template
      </a>-->
    </div>
  </div>

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
}-->

  <!-- Theme selector dropdown -->
  <select id="theme-selector">
    <option value="dark">Dark</option>
    <option value="light">Light</option>
    <option value="retro">Retro</option>
    <option value="forest">Forest</option>
    <option value="aqua">Aqua</option>
    <option value="black">Black</option>
    <option value="luxury">Luxury</option>
    <option value="dracula">Dracula</option>
    <option value="night">Night</option>
    <option value="coffee">Coffee</option>
  </select>

  <!-- Include the theme-switcher JavaScript file -->
  <script src="/theme-switcher.js"></script>
</Layout>
